<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>News</h1>
  <a routerLink="/all/add" mat-button>ADD NEWS</a>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" *ngFor="let item of news">
    <mat-card>
      <mat-card-title>{{ item.title }}</mat-card-title>
      <img
        [src]="item.image | image"
        [alt]="'Photo of' + item.title"
        mat-card-image />
      <mat-card-content>
        <p>Datetime: <strong>{{ item.date }}</strong></p>
        <p>{{ item.description }}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <a [routerLink]="['/comments/']" mat-button>
          VIEW
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
