<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%">
    <mat-card>
      <mat-card-title>Author: </mat-card-title>
      <mat-card-content>
        <p>Comments: <strong></strong></p>
        <p></p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button type="button"
                mat-raised-button
                color="primary"
                (click)="onRemove()">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
